body{
  background-color: #A1CCD1;
}


.container{
  /* width: 600px; */
  width: 40%;
  display: block;
  margin: 2em auto;
  padding: 10px 15px;
  background-color: white;
  border: 5px solid #FFD1DA;
}

.logo{
  display: block;
  margin: 0 auto;
}

.tag{
  font-size: 0.75em;
  color: #A1CCD1;
  text-align: center;
  margin-top: -4em;
  font-style: italic;
}

header{
  text-align: center;
  font-size: 3em;
  font-weight: 600;
}

.searchbar{
  text-align: center;
  margin-top: 3em;
}

.search-bar{
  margin-bottom: 3em;
}

.search{
  padding: 10px 15px;
  border-radius: 8px;
  width: 50%;
  border: 2px solid #A1CCD1;
}

.submit-btn{
  padding: 10px 5px;
  border-radius: 8px;
  border: 2px solid #A1CCD1;
  margin-left: 0.2em;
  cursor: pointer;
  background-color: #A1CCD1;
  color: white;
  transition: 200ms ease-in-out;
}

.submit-btn:hover{
  opacity: 0.7;
}

.names-card{
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #FFE17B;
  padding: 5px 20px;
  width: 50%;
  margin: 0 auto;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.baby-name{
  font-size: 1.5em;
  color: #FFE17B;
  font-weight: 500;
  list-style:url(../public/images/flower.png);
}

.baby-name-space{
  position: relative;
  left: 1px;
}

.baby-names{
  line-height: 1.5;
}

footer{
  text-align: center;
  font-size: 0.75em;
  opacity: 0.6;
  margin-top: 3em;
}



/* CONDITIONAL */

.results{
  text-align: center;
  font-size: 0.75em;
  color: #A1CCD1;
  font-weight: bold;
}

.results-hidden{
  display: none;
  font-size: 0.75em;
  text-align: center;
}

.empty{
  list-style-type: none;
}
